{% extends 'base.html' %}
<!-- TITLE -->
{% block title %}Account Center{% endblock title %}
{% block extra_head %}
<!-- EXTRA HEAD -->
{% endblock extra_head %} {% block content %}
<!-- TAGS -->
{% load humanize %} {% load qs_url_tag %}
{% load mathfilters %}{% load mptt_tags %}

<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">ACCOUNT CENTER</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item">
                <a href="{% url 'shop:index' %}">Home</a>
              </li>
              {% block hero %}
              {% endblock hero %}
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <!--SIDEBAR-->
        <div class="col-lg-3 order-2 order-lg-1">
          <h5 class="text-uppercase mb-4 px-4">Navigation</h5>
          <!-- <div class="py-2 px-4 bg-dark text-white mb-3"> -->
          <div class="py-2 px-4 bg-light mb-0">
            <strong class="small text-uppercase font-weight-bold"><a class="text-muted"
                href="{% url 'account:center' %}"> My Account </a></strong>
          </div>

          <div class="py-2 px-4 bg-light mb-0">
            <strong class="small text-uppercase font-weight-bold"><a class="text-muted"
                href="{% url 'account:order' %}">Order</a>
            </strong>
          </div>

          <div class="py-2 px-4 bg-light mb-0">
            <strong class="small text-uppercase font-weight-bold"><a class="text-muted"
                href="{% url 'account:address' %}">Address</a>
            </strong>
          </div>
          <div class="py-2 px-4 bg-light mb-0">
            <strong class="small text-uppercase font-weight-bold"><a class="text-muted"
                href="{% url 'account:wishlist' %}">Wishlist</a>
            </strong>
          </div>
          {% block extra_sidebar %}

          {% endblock extra_sidebar %}


        </div>
        <!-- DETAIL -->
        {% block detail %}
        {% endblock detail %}
      </div>
    </div>
  </section>
</div>
{% endblock content %}
<!-- BOTTOM -->
{% block bottom %}
{% endblock bottom%}
