{% extends 'account/account-base.html' %}
{% block extra_head %}
<!-- EXTRA HEAD -->
{% endblock extra_head %}
<!-- TAGS -->
{% load mptt_tags %}{% load humanize %}


<!-- HERO SECTION-->
{% block hero %}
<li class="breadcrumb-item active" aria-current="page">
  Account
</li>
{% endblock hero %}


<!-- SHOP SIDEBAR-->
{% block extra_sidebar %}

{% endblock extra_sidebar %}
<!-- USER INFO-->
{% block detail %}
<!--  Modal -->
{% for item in recent_products %}
<div class="modal fade" id="productView-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 p-lg-0">
            <a class="product-view d-block h-100 bg-cover bg-center" style="background: url('{{ item.cover_img.url }}')"
              href="{{ item.cover_img.url }}" data-lightbox="productview" title="{{ item.name }}"></a>
            {% for image in item.images.all %}
            <a class="d-none" href="{{ image.url }}" title="{{ item.name }}" data-lightbox="productview"></a>
            {% endfor %}
          </div>
          <div class="col-lg-6">
            <button class="close p-4" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="p-5 my-md-4">
              <ul class="list-inline mb-2">
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
              </ul>
              <h2 class="h4">{{ item.name }}</h2>
              <p class="text-muted">
                <i class="fa fa-jpy" aria-hidden="true"></i>{{ item.price }}
              </p>
              <p class="text-small mb-4">{{ item.summary }}</p>
              <div class="row align-items-stretch mb-4">
                <div class="col-sm-8 pr-sm-0">
                  <div class="border d-flex align-items-center justify-content-between py-1 px-3">
                    <span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                    <div class="quantity">
                      <button class="dec-btn p-0">
                        <i class="fas fa-caret-left"></i>
                      </button>
                      <input class="form-control border-0 shadow-0 p-0" type="text" value="1" id="qty-{{item.id}}"
                        stock="{{item.stock}}" />
                      <button class="inc-btn p-0">
                        <i class="fas fa-caret-right"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4 pl-sm-0">
                  <a class="btn btn-dark btn-sm btn-block add-cart h-100 d-flex align-items-center justify-content-center px-0"
                    href="#" sku-id="{{item.id}}">
                    <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                    Add to Cart
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7 pr-sm-2">
                  <a class="wishlist btn btn-link text-dark p-0" href="#" sku-id="{{item.id}}">
                    {% if item.wishlist %}<i class="fa fa-heartbeat" aria-hidden="true"></i>Remove wishlist
                    {% else %}<i class="far fa-heart"></i>Add to wish list{% endif %}
                  </a>
                </div>
                <div class="col-sm-5 pl-sm-2">
                  <i class="fas fa-warehouse fa-xs"></i>
                  <span class="mr-2 pl-1"> {{ item.stock }}</span>at stock
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- TODO: refine layout -->
<div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
  <div class="row mb-3 align-items-center">
    <div class="col-lg-6 text-left">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-security-tab" data-toggle="pill" href="#pills-security" role="tab"
            aria-controls="pills-security" aria-selected="false">Security</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 mb-2 mb-lg-0 text-right">
      <p class="text-small text-muted mb-0">
        Date Joined: {{user.date_joined|date:"DATE_FORMAT"}}
        <i class="fa fa-check-square px-2" aria-hidden="true"></i>
        Email Activated
      </p>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="tab-content" id="pills-tabContent">
        <!-- User info form -->
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <form action="#" id="userInfo">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="username">Username</label>
                {{form.username}}
              </div>
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="email">Email address</label>
                {{form.email}}
              </div>
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="first_name">First name</label>
                {{form.first_name}}
              </div>
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="last_name">Last name</label>
                {{form.last_name }}
              </div>
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="phone_no">Phone number</label>
                {{form.phone_no }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group text-right" id="changeButton">
                <button class="btn btn-dark" type="submit" id="change">Change Profile</button>
              </div>
              <div class="col-lg-12 form-group text-right" id="saveButton" style="display:none">
                <button class="btn btn-dark" type="submit" id="save">Save</button>
                <button class="btn btn-dark" type="reset" id="cancel">Cancel</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Password reset form -->
        <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab">
          <form action="" id="passwordForm">
            <div class="row ">
              <div class="col-lg-12 form-group">
                <label class="text-small text-uppercase" for="currentPassword">Current Password</label>
                <input class="form-control form-control-lg" type="password" name="currentPassword" id="currentPassword"
                  required>
              </div>
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="newPassword">New Password</label>
                <input class="form-control form-control-lg" type="password" name="newPassword" id="newPassword" required
                  pattern="(?=.*\d)(?=.*[a-z]).{6,}"
                  title="Must contain at least one number and one lowercase letter, and 6 or more characters">
              </div>
              <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase" for="confirmNewPassword">Confirm New Password</label>
                <input class="form-control form-control-lg" type="password" name="confirmNewPassword"
                  id="confirmNewPassword" required pattern="(?=.*\d)(?=.*[a-z]).{6,}"
                  title="Must match your new password">
              </div>
              <div class="col-lg-12 form-group text-right" id="passwordButtons">
                <button class="btn btn-dark" type="submit" id="resetButton">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- WATCH HISTORY-->
  <h2 class="h5 text-uppercase mb-4">Watch History</h2>
  <div class="row">
    <!-- PRODUCT-->
    {% for item in recent_products %}
    <div class="col-lg-3 col-sm-6">
      <div class="product text-center skel-loader">
        <div class="d-block mb-3 position-relative">
          <a class="d-block" href="{{ item.get_absolute_url }}"><img class="img-fluid w-100"
              src="{{ item.cover_img.url }}" alt="{{ item.name }}" /></a>
          <div class="product-overlay">
            <ul class="mb-0 list-inline">
              <li class="list-inline-item m-0 p-0">
                <a class="wishlist btn btn-sm btn-outline-dark" href="#" sku-id='{{item.id}}'>
                  {% if product.wishlist %}<i class="fa fa-heartbeat" aria-hidden="true">
                    {% else %}<i class="far fa-heart">{% endif %}</i></a>
              </li>
              <li class="list-inline-item m-0 p-0">
                <a class="btn btn-sm btn-dark add-cart" href="#" sku-id="{{ item.id }}"><i class="fa fa-cart-plus"
                    aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="btn btn-sm btn-outline-dark" href="#productView-{{forloop.counter}}" data-toggle="modal"><i
                    class="fas fa-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <h6>
          <a class="reset-anchor" href="{% url 'shop:product-detail' item.id item.slug %}">{{ item.name }}</a>
        </h6>
        <p class="small text-muted">
          <i class="fa fa-jpy" aria-hidden="true"></i>{{item.price|intcomma}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock detail %}

<!-- BOTTOM -->
{% block bottom %}
<script>
  $(function () {
    const csrftoken = Cookies.get('csrftoken');
    let inputAreas = $('#userInfo').find('input')
    inputAreas.each(function () {
      $(this).prop('readonly', true);
    })

    $('#change').click(function (event) {
      event.preventDefault();
      //$('#changeButton').prop('hidden', true);
      $('#changeButton').toggle();
      $('#saveButton').toggle();
      inputAreas.each(function () {
        $(this).removeAttr('readonly')
      })
    })

    $('#cancel').click(function (event) {
      event.preventDefault();
      $('#changeButton').toggle();
      $('#saveButton').toggle();
      inputAreas.each(function () {
        $(this).prop('readonly', true);
      })
    })

    $('#userInfo').submit(async function (event) {
      event.preventDefault();
      const formData = new FormData(event.currentTarget);
      const plainData = Object.fromEntries(formData.entries());
      const res = await fetch('/account/', {
        method: 'POST',
        headers: {
          "X-CSRFToken": csrftoken,
          "Content-Type": "application/json",
        },
        body: JSON.stringify(plainData),
      })
      const data = await res.json();
      if (data.res == '1') {
        console.log(data)
        $('#changeButton').toggle();
        $('#saveButton').toggle();
        inputAreas.each(function () {
          $(this).prop('readonly', true);
        })
        showMsg(data.msg, 1)
      } else {
        console.log(data);
        showMsg(data.errmsg, 0)
      }
    })


    $('#passwordForm').submit(async function (event) {
      event.preventDefault();
      const formData = new FormData(event.currentTarget);
      const plainData = Object.fromEntries(formData.entries());
      //let current = $('#currentPassword').val();
      //let newPassword = $('#newPassword').val();
      //let confirmNewPassword = $('#confirmNewPassword').val();

      const res = await fetch('/account/passwordreset/', {
        method: 'POST',
        headers: {
          "X-CSRFToken": csrftoken,
          "Content-Type": "application/json",
        },
        body: JSON.stringify(plainData),
      })
      const data = await res.json();
      if (data.res == '1') {
        console.log(data)
        $('#resetPassword').click();
        $('#passwordForm')[0].reset();
        showMsg(data.msg, 1)
      } else {
        console.log(data);
        showMsg(data.errmsg, 0)
      }
    })
  })

</script>
{% endblock bottom%}
