{% extends 'base.html' %}
<!-- TITLE -->
{% block title %}SHOP{% endblock title %}
<!-- EXTRA HEAD -->
{% block extra_head %} {% endblock extra_head %}
<!-- CONTENT -->
{% block content %}
<!-- TAGS -->
{% load humanize %} {% load qs_url_tag %}
<!--  -->
{% load mathfilters %}{% load mptt_tags %}
<!--  Modal -->
{% for product in products %}
<div
  class="modal fade"
  id="productView-{{forloop.counter}}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 p-lg-0">
            <a
              class="product-view d-block h-100 bg-cover bg-center"
              style="background: url('{% if product.cover_img %}{{ product.cover_img.url }}{% endif %}')"
              href="{% if product.cover_img %}{{ product.cover_img.url }}{% endif %}"
              data-lightbox="productview"
              title="{{ product.name }}"
            ></a>
            {% for image in product.images.all %}
            <a
              class="d-none"
              href="{{ image.url }}"
              title="{{ product.name }}"
              data-lightbox="productview"
            ></a>
            {% endfor %}
          </div>
          <div class="col-lg-6">
            <button
              class="close p-4"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
            <div class="p-5 my-md-4">
              <ul class="list-inline mb-2">
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
              </ul>
              <h2 class="h4">{{ product.name }}</h2>
              <p class="text-muted">
                <i class="fa fa-jpy" aria-hidden="true"></i>{{ product.price }}
              </p>
              <p class="text-small mb-4">{{ product.summary }}</p>
              <div class="row align-items-stretch mb-4">
                <div class="col-sm-8 pr-sm-0">
                  <div
                    class="border d-flex align-items-center justify-content-between py-1 px-3"
                  >
                    <span class="small text-uppercase text-gray mr-4 no-select"
                      >Quantity</span
                    >
                    <div class="quantity">
                      <button class="dec-btn p-0">
                        <i class="fas fa-caret-left"></i>
                      </button>
                      <input
                        class="form-control border-0 shadow-0 p-0"
                        type="text"
                        value="1"
                        id="qty-{{product.id}}"
                        stock="{{product.stock}}"
                      />
                      <button class="inc-btn p-0">
                        <i class="fas fa-caret-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 pl-sm-0">
                  <a
                    class="add-cart btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
                    href="#"
                    sku-id="{{ product.id }}"
                    >Add to cart</a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7 pr-sm-2">
                  <a class="btn btn-link text-dark p-0" href="#"
                    ><i class="far fa-heart mr-2"></i>Add to wish list
                  </a>
                </div>
                <div class="col-sm-5 pl-sm-2">
                  <span>
                    <i class="fas fa-warehouse fa-xs"></i>
                    {{ product.stock }} at stock</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Shop</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item">
                <a href="{% url 'shop:index' %}">Home</a>
              </li>
              {% if category %}
              <li class="breadcrumb-item">
                <a href="{% url 'shop:product-list' %}">Shop</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{category}}
              </li>
              {% else %}
              <li class="breadcrumb-item active" aria-current="page">Shop</li>
              {% endif %}
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <!-- SHOP SIDEBAR-->
        <div class="col-lg-3 order-2 order-lg-1">
          <h5 class="text-uppercase mb-4">Categories</h5>
          <!--  MPTT Recursive Category -->
          <ul class="list-unstyled">
            {% recursetree categories %}
            <li class="mb-2">
              <div
                class="{% if not node.is_leaf_node %} py-2 px-4 bg-light mb-3 {% endif %}"
              >
                <!-- <div class="py-2 px-4 bg-dark text-white mb-3"> -->
                {% if not node.is_leaf_node %}
                <strong class="small text-uppercase font-weight-bold">
                  {% endif %} {% if node.is_leaf_node %}
                  <a
                    class="reset-anchor"
                    href="{% url 'shop:category-list' node.slug %}"
                    >{% endif %}{{ node.name|title }} {% if node.is_leaf_node %}
                  </a>
                  {% endif %} {% if not node.is_leaf_node %}
                </strong>
                {% endif %}
              </div>
              {% if not node.is_leaf_node %}
              <ul
                class="list-unstyled small text-muted pl-lg-4 font-weight-normal"
              >
                {{ children }}
              </ul>
              {% endif %}
            </li>
            {% endrecursetree %}
          </ul>
          <h6 class="text-uppercase mb-4">Seach Item</h6>
          <div class="seach-box">
            <form action="" method="get">
              <div class="input-group flex-column flex-sm-row mb-3">
                <input
                  class="form-control form-control-lg py-3 flex-fill"
                  type="search"
                  name="search"
                  placeholder="Item Keyword"
                  aria-describedby="button-addon2"
                />
                <div class="input-group-append flex-fill">
                  <button
                    class="btn btn-dark btn-block"
                    id="button-addon2"
                    type="submit"
                  >
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <h6 class="text-uppercase mb-4">Price range</h6>
          <div class="price-range pt-4 mb-5">
            <div id="range"></div>
            <div class="row pt-2">
              <div class="col-6">
                <strong class="small font-weight-bold text-uppercase"
                  >From</strong
                >
              </div>
              <div class="col-6 text-right">
                <strong class="small font-weight-bold text-uppercase"
                  >To</strong
                >
              </div>
            </div>
          </div>
          <h6 class="text-uppercase mb-3">Show only</h6>
          <div class="custom-control custom-checkbox mb-1">
            <input
              class="custom-control-input"
              id="customCheck3"
              type="checkbox"
            />
            <label class="custom-control-label text-small" for="customCheck3"
              >Completed Items</label
            >
          </div>
          <div class="custom-control custom-checkbox mb-1">
            <input
              class="custom-control-input"
              id="customCheck4"
              type="checkbox"
            />
            <label class="custom-control-label text-small" for="customCheck4"
              >Sold Items</label
            >
          </div>
        </div>
        <!-- SHOP LISTING-->
        <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
          <div class="row mb-3 align-items-center">
            <div class="col-lg-6 mb-2 mb-lg-0">
              <p class="text-small text-muted mb-0">
                {% if count == 0 %} No results found.
                <!--  -->
                {% elif count == 1 %} Showing 1 result. {% else %} Showing
                {{page_obj.start_index}}–{{page_obj.end_index}} of {{count}}
                results {% endif %}
              </p>
            </div>
            <div class="col-lg-6">
              <ul
                class="list-inline d-flex align-items-center justify-content-lg-end mb-0"
              >
                <li class="list-inline-item text-muted mr-3">
                  <a class="reset-anchor p-0" href="#"
                    ><i class="fas fa-th-large"></i
                  ></a>
                </li>
                <li class="list-inline-item text-muted mr-3">
                  <a class="reset-anchor p-0" href="#"
                    ><i class="fas fa-th"></i
                  ></a>
                </li>

                <li class="list-inline-item">
                  <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      id="dropdownMenuButton"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Sort By
                    </button>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a
                        class="dropdown-item"
                        href="{% qs_url 'sorting' '-created_at' request.GET.urlencode %}"
                        >Default (Latest)</a
                      ><a
                        class="dropdown-item"
                        href="{% qs_url 'sorting' 'sales' request.GET.urlencode %}"
                        >Popularity</a
                      ><a
                        class="dropdown-item"
                        href="{% qs_url 'sorting' 'price' request.GET.urlencode %}"
                        >Price Low to High</a
                      >
                      <a
                        class="dropdown-item"
                        href="{% qs_url 'sorting' '-price' request.GET.urlencode %}"
                        >Price High to Low</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            {% for product in products %}
            <!-- PRODUCT-->
            <div class="col-lg-4 col-sm-6">
              <div class="product text-center">
                <div class="mb-3 position-relative">
                  <div class="badge text-white badge-primary">New</div>
                  <a class="d-block" href="{{ product.get_absolute_url }}"
                    ><img
                      class="img-fluid w-100"
                      src="{% if product.cover_img %}{{ product.cover_img.url }}{% endif %}"
                      alt="{{ product.name }}"
                  /></a>
                  <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                      <li class="list-inline-item m-0 p-0">
                        <a class="btn btn-sm btn-outline-dark" href="#"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li class="list-inline-item m-0 p-0">
                        <a
                          class="add-cart btn btn-sm btn-dark"
                          href="#"
                          sku-id="{{ product.id }}"
                          >Add to cart</a
                        >
                      </li>
                      <li class="list-inline-item mr-0">
                        <a
                          class="btn btn-sm btn-outline-dark"
                          href="#productView-{{forloop.counter}}"
                          data-toggle="modal"
                          ><i class="fas fa-expand"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <h6>
                  <a class="reset-anchor" href="{{ product.get_absolute_url }}"
                    >{{ product.name }}</a
                  >
                </h6>
                <p class="small text-muted">
                  <i class="fa fa-jpy" aria-hidden="true"></i
                  >{{product.price|intcomma}}
                </p>
              </div>
            </div>
            {% empty %}
            <div class="col-lg-4 col-sm-6">
              <a
                class="reset-anchor text-primary"
                href="{% url 'shop:product-list' %}"
              >
                Return to shop top</a
              >
            </div>
            {% endfor %}
          </div>
          <!-- PAGINATION-->
          {% if is_paginated %}
          <nav aria-label="Page navigation">
            <ul
              class="pagination justify-content-center justify-content-lg-end"
            >
              {% if page_obj.has_previous %}
              <!--  -->
              {% if page_obj.number|sub:1 > 1%}
              <li class="page-item">
                <a
                  class="page-link"
                  href="{% qs_url 'page' 1 request.GET.urlencode %}"
                  aria-label="Fist"
                  ><span aria-hidden="true">«</span></a
                >
              </li>
              {% endif %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="{% qs_url 'page' page_obj.previous_page_number request.GET.urlencode %}"
                  aria-label="Previous"
                  ><span aria-hidden="true">‹</span></a
                >
              </li>
              {% endif %}
              <!--  -->
              {% for num in paginator.page_range %}
              <li
                class="page-item {% if page_obj.number == num %} active {% endif %}"
              >
                <a
                  class="page-link"
                  href="{% qs_url 'page' num request.GET.urlencode %}"
                  >{{ num }}</a
                >
              </li>
              {% endfor %}
              <!--  -->
              {% if page_obj.has_next %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="{% qs_url 'page' page_obj.next_page_number request.GET.urlencode %}"
                  aria-label="Next"
                  ><span aria-hidden="true">›</span></a
                >
              </li>
              {% if paginator.num_pages|sub:page_obj.number > 1 %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="{% qs_url 'page' paginator.num_pages request.GET.urlencode %}"
                  aria-label="Next"
                  ><span aria-hidden="true">»</span></a
                >
              </li>
              {% endif %} {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
<!-- BOTTOM -->

{% block bottom %}
<!-- Nouislider Config-->
<script>
  var range = document.getElementById("range");
  noUiSlider.create(range, {
    range: {
      min: 0,
      max: 2000,
    },
    step: 5,
    start: [100, 1000],
    margin: 300,
    connect: true,
    direction: "ltr",
    orientation: "horizontal",
    behaviour: "tap-drag",
    tooltips: true,
    format: {
      to: function (value) {
        return "$" + value;
      },
      from: function (value) {
        return value.replace("", "");
      },
    },
  });
</script>
{% endblock bottom%}
