{% extends 'base.html' %}
{% load static %}
{% block title %} PAGE NOT FOUND {% endblock title %}
{% block content %}
<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">ERROR</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item">
                <a href="{% url 'shop:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">E.T.</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div class="text-center">
    <h2 class="mb-3">Page Not Found!</h2>
    <h4>This page will redirect to home in few seconds, or click the button below.</h4>
    <a type="button" class="btn btn-primary" href="{% url 'shop:index' %}"> Back to Homepage</a>
  </div>
  <hr>
</div>
{% endblock content %}
{% block bottom %}
<script>
  setTimeout(function () {
    window.location.href = "{% url 'shop:index' %}";
  }, 5000);

</script>
{% endblock bottom%}
