<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- Lightbox-->
    <link
      rel="stylesheet"
      href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}"
    />
    <!-- Range slider-->
    <link
      rel="stylesheet"
      href="{% static 'vendor/nouislider/nouislider.min.css' %}"
    />
    <!-- Bootstrap select-->
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}"
    />
    <!-- Owl Carousel-->
    <link
      rel="stylesheet"
      href="{% static 'vendor/owl.carousel2/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/owl.carousel2/assets/owl.theme.default.css' %}"
    />
    <!-- Google fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap"
    />
    <!-- theme stylesheet-->
    <link
      rel="stylesheet"
      href="{% static 'css/style.default.css' %}"
      id="theme-stylesheet"
    />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
    <script
      src="https://kit.fontawesome.com/d9f91064e3.js"
      crossorigin="anonymous"
    ></script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <div class="page-holder">
      <!-- navbar-->
      <header class="header bg-white">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
            <a class="navbar-brand" href="{% url 'shop:index' %}"
              ><span class="font-weight-bold text-uppercase text-dark"
                >Boutique</span
              ></a
            >
            <button
              class="navbar-toggler navbar-toggler-right"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <!-- Link--><a
                    class="nav-link active"
                    href="{% url 'shop:index' %}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="shop.html">Shop</a>
                </li>
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="detail.html"
                    >Product detail</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="pagesDropdown"
                    href="#"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Pages</a
                  >
                  <div
                    class="dropdown-menu mt-3"
                    aria-labelledby="pagesDropdown"
                  >
                    <a
                      class="dropdown-item border-0 transition-link"
                      href="{% url 'shop:index' %}"
                      >Homepage</a
                    ><a
                      class="dropdown-item border-0 transition-link"
                      href="shop.html"
                      >Category</a
                    ><a
                      class="dropdown-item border-0 transition-link"
                      href="detail.html"
                      >Product detail</a
                    ><a
                      class="dropdown-item border-0 transition-link"
                      href="cart.html"
                      >Shopping cart</a
                    ><a
                      class="dropdown-item border-0 transition-link"
                      href="checkout.html"
                      >Checkout</a
                    >
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="cart.html">
                    <i class="fas fa-dolly-flatbed mr-1 text-gray"></i
                    >Cart<small class="text-gray">(2)</small></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="far fa-heart mr-1"></i
                    ><small class="text-gray"> (0)</small></a
                  >
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:account_center' %}">
                    <i class="fas fa-user-alt mr-1 text-gray"></i>
                    <strong>{{user.username }}</strong></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:logout' %}">
                    Logout</a
                  >
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:login' %}">
                    <i class="fas fa-user-alt mr-1 text-gray"></i>Login</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:register' %}"
                    >Sign Up</a
                  >
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- messages -->
      <section>
        <div class="container">
          {% if messages %} {% for message in messages %}
          <p></p>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <div class="alert alert-primary alert-dismissable" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true"
            >
              &times;
            </button>
            {{ message }}
          </div>
          {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissable" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true"
            >
              &times;
            </button>
            {{ message }}
          </div>
          {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true"
            >
              &times;
            </button>
            {{ message }}
          </div>
          {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="alert alert-warning alert-dismissable" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true"
            >
              &times;
            </button>
            {{ message }}
          </div>
          {% endif %} {% endfor %} {% endif %}
        </div>
      </section>
      {% block content %}{% endblock content %}

      <footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="footer-link" href="#">Help &amp; Contact Us</a>
                </li>
                <li>
                  <a class="footer-link" href="#">Returns &amp; Refunds</a>
                </li>
                <li><a class="footer-link" href="#">Online Stores</a></li>
                <li>
                  <a class="footer-link" href="#">Terms &amp; Conditions</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">What We Do</a></li>
                <li><a class="footer-link" href="#">Available Services</a></li>
                <li><a class="footer-link" href="#">Latest Posts</a></li>
                <li><a class="footer-link" href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Tumblr</a></li>
                <li><a class="footer-link" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">
                  &copy; 2020 All rights reserved.
                </p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">
                  Template designed by
                  <a
                    class="text-white reset-anchor"
                    href="https://bootstraptemple.com/p/bootstrap-ecommerce"
                    >Bootstrap Temple</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- JavaScript files-->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
      <script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
      <script src="{% static 'js/front.js' %}"></script>
      <script>
        $(function () {
          window.setTimeout(function () {
            $(".alert")
              .fadeTo(500, 0)
              .slideUp(500, function () {
                $(this).remove();
              });
          }, 3500);
        });
      </script>
      {% block bottom %}{% endblock bottom%}
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous"
      />
    </div>
  </body>
</html>
