{% extends 'base.html' %}
{% load static %}
{% block title %} INFINATE RECURSION {% endblock title %}
{% block extra_head %}{% endblock extra_head %}
{% block content %}
<!-- TAGS -->
{% load humanize %} {% load qs_url_tag %}
{% load mathfilters %}{% load mptt_tags %}
<!--  Modal -->
{% for product in products %}
<div class="modal fade" id="productView-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 p-lg-0">
            <a class="product-view d-block h-100 bg-cover bg-center"
              style="background: url('{% if product.cover_img %}{{ product.cover_img.url }}{% endif %}')"
              href="{% if product.cover_img %}{{ product.cover_img.url }}{% endif %}" data-lightbox="productview"
              title="{{ product.name }}"></a>
            {% for image in product.images.all %}
            <a class="d-none" href="{{ image.url }}" title="{{ product.name }}" data-lightbox="productview"></a>
            {% endfor %}
          </div>
          <div class="col-lg-6">
            <button class="close p-4" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="p-5 my-md-4">
              <ul class="list-inline mb-2">
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
                <li class="list-inline-item m-0">
                  <i class="fas fa-star small text-warning"></i>
                </li>
              </ul>
              <h2 class="h4">{{ product.name }}</h2>
              <p class="text-muted">
                <i class="fa fa-jpy" aria-hidden="true"></i>{{ product.price }}
              </p>
              <p class="text-small mb-4">{{ product.summary }}</p>
              <div class="row align-items-stretch mb-4">
                <div class="col-sm-8 pr-sm-0">
                  <div class="border d-flex align-items-center justify-content-between py-1 px-3">
                    <span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                    <div class="quantity">
                      <button class="dec-btn p-0">
                        <i class="fas fa-caret-left"></i>
                      </button>
                      <input class="form-control border-0 shadow-0 p-0" type="text" value="1" id="qty-{{product.id}}"
                        stock="{{product.stock}}" />
                      <button class="inc-btn p-0">
                        <i class="fas fa-caret-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 pl-sm-0">
                  <a class="add-cart btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
                    href="#" sku-id="{{ product.id }}">Add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-7 pr-sm-2">
                  <a class="wishlist btn btn-link text-dark p-0" href="#" sku-id='{{product.id}}'>
                    {% if product.wishlist %}<i class="fa fa-heart" aria-hidden="true"></i>Remove wishlist
                    {% else %}<i class="fa fa-heart-o" aria-hidden="true"></i>Add to wish list{% endif %}

                  </a>
                </div>
                <div class="col-sm-5 pl-sm-2">
                  <span>
                    <i class="fas fa-warehouse fa-xs"></i>
                    {{ product.stock }} at stock</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- HERO SECTION-->
<div class="container">
  {% for banner in banners %}
  <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url({{banner.image.url}})">
    <div class="container py-5">
      <div class="row px-4 px-lg-5">
        <div class="col-lg-6">
          <p class="text-muted small text-uppercase mb-2">
            New Inspiration 2020
          </p>
          <h1 class="h2 text-uppercase mb-3" style="opacity:0.7">Featured Made in Japan</h1>
          <a class="btn btn-dark" href="{% url 'shop:product-list' %}" style="opacity:0.7">Browse collections</a>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <!-- CATEGORIES SECTION-->
  <section class="pt-5">
    <header class="text-center">
      <p class="small text-muted small text-uppercase mb-1">
        Carefully created collections
      </p>
      <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
    </header>
    <div class="row">
      {% for category in categories %}
      {% if not category.parent %}
      <div class="col-md-4 mb-4 mb-md-0">
        <a class="category-item" href="{% url 'shop:category-list' category.slug %}"><img class="img-fluid"
            src="{{category.image.url}}" alt="{{category.name}}" /><strong class="category-item-title"
            style="opacity:0.7">{{category.name}}</strong></a>
      </div>
      {% endif %}
      {% endfor %}

      <!-- <div class="col-md-4 mb-4 mb-md-0">
        <a class="category-item" href="#"><img class="img-fluid" src="img/cat-img-2.jpg" alt="" /><strong
            class="category-item-title">Craft & Art</strong></a>
      </div>
      <div class="col-md-4">
        <a class="category-item" href="#"><img class="img-fluid" src="img/cat-img-4.jpg" alt="" /><strong
            class="category-item-title">Kitchen & Dinning</strong></a> -->
    </div>
  </section>
  <!-- SEARCHBAR-->
  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <h5 class="text-uppercase">What are you looking for?</h5>
          <p class="text-small text-muted mb-0">
            Search on our webiste
          </p>
        </div>
        <div class="col-lg-6">
          <form action="{% url 'shop:product-list' %}" method="get">
            <div class="input-group flex-column flex-sm-row mb-3">
              <input class="form-control form-control-lg py-3" type="search" name="search"
                placeholder="Enter keyword, e.g. kyoto" aria-describedby="button-addon2" />
              <div class="input-group-append">
                <button class="btn btn-dark btn-block" id="button-addon2" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- TRENDING PRODUCTS-->
  <div class="container">
    <section class="py-5">
      <header class="text-center">
        <p class="small text-muted small text-uppercase mb-1">
          Made the hard way
        </p>
        <h2 class="h5 text-uppercase mb-4">Top trending products</h2>
      </header>
      <div class="row">
        {% for product in products %}
        <!-- PRODUCT-->
        <div class="col-lg-3 col-sm-6">
          <div class="product text-center">
            <div class="mb-3 position-relative">
              <div class="badge text-white badge-{{product.get_label_badge}}">{{product.get_product_label|title}}
              </div>
              <a class="d-block" href="{{ product.get_absolute_url }}"><img class="img-fluid w-100"
                  src="{% if product.cover_img %}{{ product.cover_img.url }}{% endif %}" alt="{{ product.name }}" /></a>
              <div class="product-overlay">
                <ul class="mb-0 list-inline">
                  <li class="list-inline-item m-0 p-0">
                    <a class="wishlist btn btn-sm btn-outline-dark" href="#" sku-id="{{ product.id }}">
                      {% if product.wishlist %}<i class="fa fa-heart" aria-hidden="true"></i>
                      {% else %}<i class="fa fa-heart-o" aria-hidden="true"></i>{% endif %}
                      </i></a>
                  </li>
                  <li class="list-inline-item m-0 p-0">
                    <a class="add-cart btn btn-sm btn-dark" href="#" sku-id="{{ product.id }}">Add to cart</a>
                  </li>
                  <li class="list-inline-item mr-0">
                    <a class="btn btn-sm btn-outline-dark" href="#productView-{{forloop.counter}}"
                      data-toggle="modal"><i class="fas fa-expand"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h6>
              <a class="reset-anchor" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            </h6>
            <p class="small text-muted">
              <i class="fa fa-jpy" aria-hidden="true"></i>{{product.price|intcomma}}
            </p>
          </div>
        </div>
        {% empty %}
        <div class="col-lg-3 col-sm-6">
          <a class="reset-anchor text-primary" href="{% url 'shop:product-list' %}">
            Return to shop top</a>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
  <!-- SERVICES-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4 mb-3 mb-lg-0">
          <div class="d-inline-block">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#delivery-time-1"></use>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1">Free shipping</h6>
                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
          <div class="d-inline-block">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#helpline-24h-1"></use>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-inline-block">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#label-tag-1"></use>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1">Festival offer</h6>
                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}

<!-- JavaScript files-->
{% block bottom %} {% endblock bottom%}
<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
