{% extends 'base.html' %}{% load humanize %}
<!-- TITLE -->
{% block title %}Checkout{% endblock title %}
<!-- EXTRA_HEAD -->
{% block extra_head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock extra_head %}
<!-- CONTENT -->
{% block content %}
<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Checkout</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item">
                <a href="{% url 'shop:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'cart:info' %}">Cart</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Checkout
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <!-- BILLING ADDRESS-->
    <!-- <h2 class="h5 text-uppercase mb-4">Billing details</h2> -->
    <div class="row">
      <div class="col-lg-12">
        <form> {% csrf_token %}
          <div class="form-group row">
            <div class="col-lg-12">
              <div class="card border-0 rounded-0 p-lg-4">
                <div class="card-body">
                  <h5 class="text-uppercase mb-4">Shipping Address</h5>
                  {% if addrs %}
                  <div class="col-sm-12">
                    {% for addr in addrs %}
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input address" id="addr-{{addr.id}}" type="radio" name="customRadio"
                        {%if addr.is_default%} checked {%endif%} />
                      <label class="custom-control-label" for="addr-{{addr.id}}">{{addr.get_full_address}}</label>
                    </div>
                    {% endfor %}
                  </div>
                  {% else %}
                  <div class="form-group row">
                    <div class="col-lg-6 form-group">
                      <label class="text-small text-uppercase" for="firstName">First name</label>
                      <input class="form-control form-control-lg" id="firstName" type="text"
                        placeholder="Enter your first name" />
                    </div>
                    <div class="col-lg-6 form-group">
                      <label class="text-small text-uppercase" for="lastName">Last name</label>
                      <input class="form-control form-control-lg" id="lastName" type="text"
                        placeholder="Enter your last name" />
                    </div>
                    <div class="col-lg-6 form-group">
                      <label class="text-small text-uppercase" for="email">Email address</label>
                      <input class="form-control form-control-lg" id="email" type="email"
                        placeholder="e.g. Jason@example.com" />
                    </div>
                    <div class="col-lg-6 form-group">
                      <label class="text-small text-uppercase" for="phone">Phone number</label>
                      <input class="form-control form-control-lg" id="phone" type="tel"
                        placeholder="e.g. +02 245354745" />
                    </div>

                    <div class="col-lg-12 form-group">
                      <label class="text-small text-uppercase" for="address">Address</label>
                      <input class="form-control form-control-lg" id="address" type="text"
                        placeholder="House number and street name" />
                    </div>
                    <div class="col-lg-6 form-group">
                      <label class="text-small text-uppercase" for="city">Town/City</label>
                      <input class="form-control form-control-lg" id="city" type="text" />
                    </div>
                    <div class="col-lg-6 form-group">
                      <label class="text-small text-uppercase" for="country">Country</label>
                      <div class="dropdown bootstrap-select country fit-width">
                        <select class="selectpicker country" id="country" data-width="fit"
                          data-style="form-control form-control-lg" data-title="Select your country" tabindex="-98">
                          <option class="bs-title-option" value=""></option>
                        </select><button type="button"
                          class="btn dropdown-toggle form-control form-control-lg bs-placeholder" data-toggle="dropdown"
                          role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false"
                          data-id="country" title="Select your country">
                          <div class="filter-option">
                            <div class="filter-option-inner">
                              <div class="filter-option-inner-inner">
                                Select your country
                              </div>
                            </div>
                          </div>
                        </button>
                        <div class="dropdown-menu" style="
                            max-height: 155.6px;
                            overflow: hidden;
                            min-height: 0px;
                          ">
                          <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" style="
                              max-height: 155.6px;
                              overflow-y: auto;
                              min-height: 0px;
                            ">
                            <ul class="dropdown-menu inner show" role="presentation"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- ORDER SUMMARY-->
          <div class="form-group row">
            <div class="col-lg-12">
              <div class="card border-0 rounded-0 p-lg-4 bg-light">
                <div class="card-body">
                  <h5 class="text-uppercase mb-4">Your order</h5>
                  <ul class="list-unstyled mb-0">
                    {% for product in products %}
                    <li class="d-flex align-items-center justify-content-between">
                      <strong class="small font-weight-bold">{{forloop.counter}} - {{ product.name }} *
                        {{ product.count }}</strong><span class="text-muted small"><i class="fa fa-jpy"
                          aria-hidden="true"></i>
                        {{product.amount|intcomma}}
                      </span>
                    </li>
                    <li class="border-bottom my-2"></li>
                    {% endfor %}

                    <li class="d-flex align-items-center justify-content-between">
                      <strong class="text-uppercase small font-weight-light">Subtotal</strong><span><strong
                          class="text-uppercase small font-weight-light"><i class="fa fa-jpy" aria-hidden="true"></i>
                          {{subtotal|intcomma}}</span></strong>
                    </li>
                    <li class="d-flex align-items-center justify-content-between">
                      <strong class="text-uppercase small font-weight-light">Shipping</strong><strong
                        class="text-uppercase small font-weight-light"><span><i class="fa fa-jpy"
                            aria-hidden="true"></i>
                          {{shipping_fee|intcomma}}</span></strong>
                    </li>
                    <li class="border-bottom my-2"></li>
                    <li class="d-flex align-items-center justify-content-between">
                      <strong class="text-uppercase small font-weight-bold">Total</strong><span><i class="fa fa-jpy"
                          aria-hidden="true"></i>
                        {{total_price|intcomma}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Payment method -->
          <div class="form-group row">
            <div class="col-lg-12">
              <div class="card border-0 rounded-0 p-lg-4">
                <div class="card-body">
                  <h5 class="text-uppercase mb-4">Payment Method</h5>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input payment" id="card" type="radio" name="payment" checked />
                        <label class="custom-control-label" for="card"><strong
                            class="text-uppercase small font-weight-bold"><i class="fa fa-credit-card"
                              aria-hidden="true"></i> Credit Card</strong></label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="custom-control custom-radio">
                        <input class=" custom-control-input payment" id="alipay" type="radio" name="payment" />
                        <label class="custom-control-label" for="alipay"><strong
                            class="text-uppercase small font-weight-bold"><i class="fab fa-alipay fa-sm"></i>
                            Alipay</strong></label>
                      </div>
                    </div>
                    <!-- <div class="col-sm-4">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input payment" id="ideal" type="radio" name="payment" />
                        <label class="custom-control-label" for="ideal"><strong
                            class="text-uppercase small font-weight-bold"> ieal</strong></label>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-right">
              <button class="btn btn-primary" id='place-order' type="submit">Place Order</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
<!-- BOTTOM -->
{% block bottom %}
<script>
  // Create an instance of the Stripe object with your publishable API key
  $(function () {


    var stripe = Stripe("{{ stripe_api_key }}");

    $('#place-order').click(async function (event) {
      event.preventDefault();
      const csrftoken = Cookies.get("csrftoken");
      let paymentMethod = $('.payment:checked').prop('id');
      let addr = $('.address:checked').prop('id');
      const res = await fetch("/order/process/", {
        method: "POST",
        headers: {
          "X-CSRFToken": csrftoken,
          "Content-Type": "application/json",
        },
        data: JSON.stringify({
          payment_method: paymentMethod,
          addr: addr
        })
      })

      let data = await res.json();
      console.log(data.res, data.errmsg, data.msg)

      const paymentSession = await stripe.redirectToCheckout({
        sessionId: session.id
      });

      if (paymentSession.error) {
        showErrMsg(paymentSession.error.message);
      }
      //.catch(function (error) {
      //  console.error("Error:", error);
      //});
    });
  })

</script>
{% endblock bottom%}
