{% extends 'base.html' %}
<!-- TITLE -->
{% block title %}Thank You{% endblock title %}
<!-- EXTRA_HEAD -->
{% block extra_head %}{% endblock extra_head %}
<!-- CONTENT -->
{% block content %}

<!-- HERO SECTION-->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
      <div class="col-lg-6">
        <h1 class="h2 text-uppercase mb-0">Checkout</h1>
      </div>
      <div class="col-lg-6 text-lg-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
            <li class="breadcrumb-item">
              <a href="{url 'shop:index' }">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{url 'cart:info' }">Cart</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{url 'cart:checkout' }">Checkout</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Success</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <!-- BILLING ADDRESS-->
  <div class="container">
    <h2 class="h5 text-uppercase mb-4">
      {% with user=request.user %}
      {% if user.is_authenticated %}
      Thank you! {{user.username}}
      {% else %}
      Thank you for your business!
      {% endif %}
    </h2>
    <p> <strong> Your payment for your order below has been confirmed: </strong> </p>
    <ul>
      {% for order in orders %}
      <li>Order# {{order.number}}</li>
      {% endfor %}
    </ul>
    <p> This page will redirect to
      {% if user.is_authenticated %}
      your account center
      {% else %}
      homepage
      {% endif %}
      in few seconds</p>
    <hr>
    <p class="text-muted">
      {% if user.is_authenticated %}
      <a href="{% url 'account:order' %}">Please click here to account center if page does not refresh</a>
      {% else %}
      <a href="{% url 'shop:index' %}">Please click here to homepage if page does not refresh</a>
      {% endif %}
    </p>
    {% endwith %}
  </div>
</section>
{% endblock content %}
<!-- BOTTOM -->
{% block bottom %}
<script>
  setTimeout(function () {
    window.location.href = "{% url 'account:order' %}";
  }, 5000);

</script>
{% endblock bottom%}
